.header {
  position: relative;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0 48px 10px;

    @include media-breakpoint-down(md) {
      padding: 20px 0;
    }
  }

  &__logo {
    width: 250px;
    height: 40px;

    @include media-breakpoint-down(md) {
      width: 180px;
      height: 28px;
    }

    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .menu {
    display: flex;
    gap: 30px;
    font-size: 16px;
    font-weight: 600;

    @include media-breakpoint-down(md) {
      display: none;
    }

    &__list {
      display: flex;
      gap: 60px;

      @include media-breakpoint-down(lg) {
        gap: 30px;
      }

      @include media-breakpoint-down(md) {
        flex-direction: column;
        align-items: center;
      }

      &-item {
        cursor: pointer;

        a {
          color: $grayTitle;
          transition: color 0.5s ease-in-out;
        }

        &:hover {
          a {
            color: $purple;
          }
        }
      }
    }

    &_active {
      display: flex;
      position: absolute;
      left: 0;
      padding: 70px 45px;
      width: 100vw;
      height: 100vh;
      top: 0;
      flex-direction: column;
      align-items: center;
    }
  }

  .dropdown {
    width: 80px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    position: relative;

    &__btn {
      background-color: transparent;
      font-weight: 700;
      display: flex;
      align-items: center;
      gap: 6px;
      color: $grayTitle;

      span {
        width: 12px;
        height: 7px;
        position: relative;
        transform: scaleY(-1);
        transition: transform 0.5s ease-in-out;

        svg {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
        }
      }

      &_active {
        span {
          transform: scaleY(1);
          transition: transform 0.5s ease-in-out;
        }
      }
    }

    &__list {
      opacity: 0;
      pointer-events: none;
      display: flex;
      padding: 10px;
      flex-direction: column;
      align-items: center;
      position: absolute;
      width: 100%;
      gap: 18px;
      font-size: 14px;
      font-weight: 400;
      top: 22px;
      border-radius: 5px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
      transition: opacity 0.3s ease-in-out;

      &_active {
        pointer-events: auto;
        cursor: pointer;
        opacity: 1;
      }

      &-item {
        position: relative;
        text-align: center;
        width: 100%;

        &:nth-child(1)::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background-color: $black;
          opacity: 0.15;
          left: 0;
          top: 23px;
        }
      }
    }

    &__input {
      display: none;
    }
  }

  &__burger-btn {
    display: none;
    width: 24px;
    height: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;

    @include media-breakpoint-down(md) {
      display: block;
    }

    span,
    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 0;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: $grayTitle;
      transition: transform .45s cubic-bezier(.68, -0.55, .27, 1.55),
      opacity .3s ease,
      width .3s ease;
    }

    &::before {
      width: 75%;
    }

    &::after {
      width: 50%;
    }

    span {
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &_active {
      span {
        opacity: 0;
        transform: translateY(-50%) scaleX(0);
      }

      &::before {
        transform: translateY(9px) rotate(45deg);
        width: 100%;
      }

      &::after {
        transform: translateY(-9px) rotate(-45deg);
        width: 100%;
      }
    }
  }
}
