<header class="header">
  <div class="container">
    <div class="header__content">
      <a href="" class="header__logo">
        <svg>
          <use href="#logo"></use>
        </svg>
      </a>

      <div class="header__menu menu">
        <ul class="menu__list">
          <li class="menu__list-item">
            <a href="">Функции</a>
          </li>

          <li class="menu__list-item">
            <a href="">Преимущества</a>
          </li>

          <li class="menu__list-item">
            <a href="">Как использовать</a>
          </li>

          <li class="menu__list-item">
            <a href="">Частые вопросы</a>
          </li>
        </ul>

        <div class="header__change-language dropdown">
          <button class="dropdown__btn">
            RU
            <span>
              <svg>
                <use href="#arr-drop-down"></use>
              </svg>
            </span>
          </button>

          <ul class="dropdown__list">
            <li class="dropdown__list-item" data-value="ru">RU</li>
            <li class="dropdown__list-item" data-value="eng">ENG</li>
          </ul>

          <input type="text" name="select-category" class="dropdown__input">
        </div>
      </div>

      <button class="header__burger-btn">
        <span></span>
      </button>
    </div>
  </div>
</header>