@font-face {
  font-family: Rubik;
  font-display: swap;
  font-style: normal;
  src: url("./src/fonts/Rubik-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  font-style: normal;
  src: url("./src/fonts/Rubik-Regular.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  font-style: normal;
  src: url("./src/fonts/Rubik-Medium.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  font-style: normal;
  src: url("./src/fonts/Rubik-Bold.woff2") format("woff2");
  font-weight: 900;
}
